.splash{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
body{
 background-color: #3D3A3A
 }
 .devby{
 font-family: "Times New Roman", Times, serif;
     margin: 0;
     position: absolute;
     top: 90%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%);
     color: white;
 }